DJANGO_SETTINGS_MODULE="warehouse.settings.dev"
SECRET_KEY="example_secret_key"
DEBUG=True
ALLOWED_HOSTS=".localhost, .herokuapp.com"
DROPBOX_AUTH_TOKEN="example_auth_token"
POSTGRES_DB="warehouse"
POSTGRES_HOST="postgres"
POSTGRES_USER="example_username"
POSTGRES_PASSWORD="example_password"
DJANGO_SUPERUSER_PASSWORD="example_password"
DJANGO_SUPERUSER_USERNAME="example_username"
DJANGO_SUPERUSER_EMAIL="example_email"
